@import "../../global.scss";

#scrollDot {
    

    ul {
        flex-direction: column;

    li {

            button {
                color: purple;
                background-color: purple;
                
            }
        }
}
}